* {
    margin: 0;
    box-sizing: border-box;
}
.hero-main-block {
    background-color: #1F2937;
    color: #F9FAF8;
    padding: 0 200px 0;
}
.hero-main-block .header-block {
    padding: 24px 0;
    display: flex;
    gap: 24px;
}

.hero-main-block .header-block #logo {
    margin-right: auto;
    font-size: 24px;
}

.hero-main-block .below-header-block {
    padding: 60px 0;
    display: flex;
    gap: 24px;
}

.hero-main-block .below-header-block .text {
    width: 240px;
    height: 240px;
    flex: 1;
}

.hero-main-block .below-header-block .text h1{
    size: 24px;
}

.hero-main-block .below-header-block .text input{
    background-color: #3882F6;
    color: #F9FAF8;
    border-radius: 8px;
}

.hero-main-block .below-header-block .image {
    width: 480px;
    height: 240px;
    flex: 1;
}

.hero-main-block .below-header-block .image img{
    width: 480px;
    height: 240px;
}

.middle-block {
    padding: 48px 0;
}

.middle-block .text h2 {
    font: 36px extra-bold;
    color: #1F2937;
    text-align: center;
}

.middle-block .image-text {
    padding: 48px 0;
    display: flex;
    justify-content: center;
    gap: 48px;
}

.middle-block .image-text div {
    text-align: center;
}
.middle-block .image-text img {
    width: 128px;
    height: 128px;
    border: 4px solid #3882F6;
    border-radius: 12px;
}